.btn_custom{
    background-color: rgb(40, 40, 73);
    border:none;
    color: #ffff;
    padding:10px 0px;
    width:120px;
    border-radius: 5px;
    margin:0px 2px
}
.btn_custom:disabled{
    cursor: not-allowed;
    background-color: rgb(106, 106, 136);
}